<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

Ex 4: Create a dictionary for the following table:

| Name | Age | 
| --- | --- | 
| Myo | 32 |
| Thida | 64 |

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}